:root {
  --font-sans: var(--font-inter);
  --font-hand: var(--font-caveat);
  --font-type: var(--font-special-elite);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: var(--font-sans); 
}

#__next {
  height: 100%;
}
